/* Menu bars */
.pswp__bottom-bar, .pswp__right-bar, .pswp__top-bar {
  position: absolute;
  width: 50px;
  height: 70px; }

.pswp__right-bar {
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0; }

.pswp__bottom-bar {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 1900;
  opacity: 0; }

.pswp__top-bar {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 1900; }

.pswp__right-bar {
  z-index: 2000; }
  .pswp__right-bar .pswp__button-group {
    position: absolute;
    top: 50%;
    margin-top: -95px;
    overflow: hidden; }

.pswp__button--info {
  position: absolute;
  bottom: 0;
  height: 70px; }

.pswp__button-group .pswp__button {
  display: inline-block; }


/* Video Container */
.pswp__video {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pswp__video-play {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  cursor: pointer;
  background: url(./play.png) no-repeat center center;
  background-size: 128px 128px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.pswp--animated-in .pswp__video-play {
  opacity: 1;
}
